.layout-game-room {
  position: fixed;
  height: 100%;
  width: 100%;
  &-header {
    position: relative;
    height: 0.9rem;
    background-color: #300061;
    background-image: url("@/assets/images/gameRoom/left_bg.png");
    background-size: 6.5rem 100%;
    background-repeat: no-repeat;
    &-right-btn {
      position: absolute;
      right: 0;
      top: 0;
      padding-left: 0.7rem;
      padding-bottom: 0.1rem;
      width: 1.6rem;
      height: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-weight: bolder;
      color: #FFFFFF;
      line-height: 1.1;
      white-space: pre;
      font-size: 0.25rem;
      text-align: center;
      background-image: url("@/assets/images/gameRoom/right_btn.png");
      background-size: 100% 90%;
      background-repeat: no-repeat;
    }
    //&::before {
    //  content: "";
    //}
  }
}
